<template>
  <div class="doctor-list">
    <!-- <mt-cell :title='item.docName' :value='item.docTitle' v-for='(item, index) in docList' :key='item.docId' is-link @click.native='handleToDocDetail(item.docId, index)'>
    </mt-cell> -->
    <div class="margin-top-m time-select">
      <div class="time-container time-sticky" @click="changeCurrentDate('')">
        <p>全部</p>
      </div>
      <div class="time-container time-scroll">
        <div class="time-block" v-for="(item) in timeList" :key="item.date" @click="changeCurrentDate(item.date)">
          <p>{{item.week}}</p>
          <p>{{item.date}}</p>
        </div>
      </div>
    </div>
    <div class="margin-top-m" :style="{borderBottom: '1px solid $color-border'}">
      <div class="doctor-card" v-for='(item, index) in docList' :key='item.docId' v-if="docList && docList.length">
        <div @click="handleToDocDetail(item.docId, index)">
          <h4>{{item.docName}} <span>{{item.docTitle}}</span></h4>
          <p>接诊量: <span>{{item.jzl}}</span></p>
          <p>擅长: <span>{{item.sc}}</span></p>
        </div>
      </div>
      <NoData content="无排班医生，请选择其他日期" v-if="!docList || !docList.length"></NoData>
    </div>
  </div>
</template>
<script>
import { mapMutations, mapGetters, mapActions } from 'vuex'
import moment from 'moment'
import NoData from '../../components/CommonComponents/NoData.vue'

moment.locale('en', {
  weekdays: [
    '周日', '周一', '周二', '周三', '周四', '周五', '周六'
  ]
})
const timeList = []
for (let i = 0; i < 7; i++) {
  if (i === 0) {
    timeList.push({week: moment().format('dddd'), date: moment().format('MM-DD')})
  } else {
    timeList.push({week: moment().add(i, 'days').format('dddd'), date: moment().add(i, 'days').format('MM-DD')})
  }
}
export default {
  name: 'DoctorList',
  components: { NoData },
  data () {
    return {
      timeList: timeList
    }
  },
  created () {
    window.scope = this
    this.changeHeaderTitle('医生列表')
    this.$store.commit('setDoctorList', [])
    this.getDoctorList()
  },
  computed: {
    ...mapGetters({
      'docList': 'getDoctorList',
      'deptId': 'getDeptId',
      'hospId': 'getHospId'
    })
  },
  methods: {
    ...mapMutations(['changeHeaderTitle', 'setDocId', 'setCurrentDate']),
    ...mapActions(['updateDoctorList']),

    loading () {
      this.$indicator.open({text: '加载中...', spinnerType: 'snake'})
    },

    closeLoading () {
      this.$indicator.close()
    },

    getDoctorList () {
      this.loading()
      this.updateDoctorList({
        hospId: this.hospId,
        deptId: this.deptId
      }).then(() => {
        this.closeLoading()
      }).catch(err => {
        this.closeLoading()
        this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
      })
    },

    handleToDocDetail (id, index) {
      this.setDocId(id)
      this.$router.push({
        name: 'DoctorHomepage',
        query: {
          id,
          hospId: this.hospId
        }
      })
    },

    changeCurrentDate (date) {
      this.$indicator.open({text: '加载中...', spinnerType: 'snake'})
      this.setCurrentDate(date)
      setTimeout(() => {
        this.$indicator.close()
      }, 500)
    }
  }

}
</script>
<style lang="scss" scoped>
/* DoctorList */
.doctor-list {
  /deep/ .mint-cell-value {
    font-size: $font-size4;
    color: $color-font7;
    line-height: 0.6rem;
  }
  /deep/ .mint-cell-wrapper {
    background-origin: unset;
  }
}
.time-select {
  padding: 0.4rem 0;
  background-color: $bg-color;
  overflow: hidden;
  width: 18.75rem;
  display: flex;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  .time-container{
    text-align: center;
    color: $color-font2;
    font-size: $font-size3;
  }
  .time-block {
    border-left: 1px solid $color-border;
    display: inline-block;
    width: 3.5rem;
  }
  .time-sticky {
    width: 3.5rem;
    p {
      line-height: 1.8rem;
    }
  }
  .time-scroll{
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
  }
}
.doctor-card {
  padding: 0.65rem 0.75rem;
  background-color: $bg-color;
  border-top: 1px solid $color-border;
  a {
    display: block;
  }
  h4 {
    font-size: $font-size1;
    color: $color-font2;
    margin-bottom: $base-indent;
  }
  p {
    font-size: $font-size4;
    color: $color-font7;
  }
  span {
    font-size: $font-size4;
    margin-left: $base-indent;
  }
}
a {
  display: block;
}

</style>
