<template>
  <div class="account-setting">
    <mt-cell title="修改支付密码" is-link to="/passwordModify"></mt-cell>
    <mt-cell title="找回密码" is-link to="/mobileVerify?accountType=3"></mt-cell>
    <mt-cell title="医保移动支付关闭" is-link to="/mobileVerify?accountType=1"></mt-cell>
  </div>
</template>

<script>
export default {
  name: 'AccountSetting',
  data () {
    return {
    }
  },
  created () {
    this.$store.commit('changeHeaderTitle', '账号设置')
  },
  methods: {
  }
}
</script>

<style scoped>
.mint-cell{ border-bottom:1px solid #ddd
  }
</style>
