<template>
  <div>
    <mt-field label="手机号码" placeholder="请输入手机号" v-model="userInfo.phoneNum" readonly disableClear></mt-field>
    <mt-field label="验证码" placeholder="请输入验证码" type="number" v-model="verCode">
      <VerifyCode :accountType="accountType"></VerifyCode>
    </mt-field>
    <div class="button-container">
      <mt-button type="primary" @click="goNext">下一步</mt-button>
    </div>
  </div>
</template>

<script>
import VerifyCode from '../../components/CommonComponents/VerifyCode.vue'
import { MessageBox } from 'mint-ui'
import { mapGetters } from 'vuex'
export default {
  name: 'MobileVerify',
  components: {
    VerifyCode
  },
  data () {
    return {
      accountType: this.$route.query.accountType,
      verCode: ''
    }
  },
  created () {
    this.$store.commit('changeHeaderTitle', '手机号码验证')
  },
  computed: {
    ...mapGetters(['userInfo', 'serNum'])
  },
  methods: {
    goNext: function () {
      if (this.verCode === '') {
        this.$toast({message: '验证码不能为空', position: 'center', duration: 2000})
      } else {
        this.accountType === '3' ? this.recoverPassword() : this.closeMobilePayment()
      }
    },
    closeMobilePayment: function () {
      MessageBox.confirm('关闭后将无法使用就医服务,确认关闭吗', '医保移动支付关闭').then(action => {
        this.$store.dispatch('closeMobilePayment', {verCode: this.verCode, serNum: this.serNum})
          .then(res => {
            if (res.data.flag === '0') {
              this.$toast({message: '关闭成功', position: 'center', duration: 2000})
              this.MFS.goBack()
            } else {
              this.$toast({message: '关闭失败~', position: 'center', duration: 2000})
            }
          })
          .catch(err => {
            this.$indicator.close()
            this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
          })
      })
    },
    recoverPassword: function () {
      this.$store.dispatch('resetPassword', {verCode: this.verCode, serNum: this.serNum})
        .then(res => {
          if (res.data.flag === '0') {
            this.$router.push({path: '/passwordRecover'})
          } else {
            this.$toast({message: '验证码错误', position: 'center', duration: 2000})
          }
        })
        .catch(err => {
          this.$indicator.close()
          this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.button-container{
  padding: 0.95rem 0.75rem;
  button{
    width: 100%;
  }
}
.mint-field { font-size: .6rem;border-bottom: 1px solid #ddd;  }
</style>
