<template>
  <div>
    <mt-field label="密码" placeholder="请输入6位数字" type="tel" :attr="{ maxlength: 6 }" v-model="newPassword"></mt-field>
    <mt-field label="确认密码" placeholder="请再次输入6位数字" type="tel" :attr="{ maxlength: 6 }" v-model="confirmPassword"></mt-field>
    <mt-field label="手机号码" placeholder="请输入手机号码" v-model="userInfo.phoneNum" readonly disableClear></mt-field>
    <mt-field label="验证码" placeholder="请输入验证码" type="number" v-model="verCode">
      <VerifyCode accountType="2"></VerifyCode>
    </mt-field>
    <div class="button-container">
      <mt-button type="primary" @click="goSubmit">确 认</mt-button>
    </div>
  </div>
</template>

<script>
import VerifyCode from '../../components/CommonComponents/VerifyCode.vue'
import { mapGetters, mapActions } from 'vuex'
import md5 from 'js-md5'
export default {
  name: 'PasswordSetting',
  components: {
    VerifyCode
  },
  data () {
    return {
      newPassword: '',
      confirmPassword: '',
      verCode: ''
    }
  },
  created () {
    this.$store.commit('changeHeaderTitle', '设置支付密码')
  },
  computed: {
    ...mapGetters(['userInfo', 'serNum'])
  },
  methods: {
    ...mapActions(['getRandomNum']),
    goSubmit: async function () {
      let reg = /^\d{6}$/
      if (this.newPassword === '') {
        this.$toast({message: '支付密码不能为空，请输入支付密码', position: 'center', duration: 2000})
      } else if (this.confirmPassword === '') {
        this.$toast({message: '确认支付密码不能为空，请输入确认支付密码', position: 'center', duration: 2000})
      } else if (reg.test(this.newPassword) === false) {
        this.$toast({message: '请输入6位数字', position: 'center', duration: 2000})
      } else if (this.newPassword !== this.confirmPassword) {
        this.$toast({message: '设置支付密码和确认支付密码不一致，请重新输入', position: 'center', duration: 2000})
      } else if (this.verCode === '') {
        this.$toast({message: '验证码不能为空', position: 'center', duration: 2000})
      } else {
        try {
          let hash = await this.getRandomNum()
          let passWord = hash.slice(0, 20) + md5(this.newPassword) + hash.slice(-20)
          this.$store.dispatch('setPassword', {passWord: passWord, verCode: this.verCode, serNum: this.serNum})
            .then(res => {
              if (res.data.flag === '0') {
                this.$toast({message: '医保移动支付已成功开通', position: 'center', duration: 5000})
                setTimeout(() => {
                  // 跳转到returnUrl
                  this.$router.push({path: '/homePage'})
                }, 5000)
              } else {
                this.$toast({message: '医保移动支付开通失败', position: 'center', duration: 5000})
              }
            })
            .catch(err => {
              this.$indicator.close()
              this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
            })
        } catch (err) {
          this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.button-container{
  padding: 0.95rem 0.75rem;
  button{
    width: 100%;
  }
}
.mint-field { font-size: .6rem;border-bottom: 1px solid #ddd;  }
</style>
