<template>
  <div>
    <mt-field label="原密码" placeholder="请输入原密码" type="tel" :attr="{ maxlength: 6 }" v-model="oldPassword"></mt-field>
    <mt-field label="新密码" placeholder="请输入6位数字" type="tel" :attr="{ maxlength: 6 }" v-model="newPassword"></mt-field>
    <mt-field label="确认新密码" placeholder="请再次输入6位数字" type="tel" :attr="{ maxlength: 6 }" v-model="confirmPassword"></mt-field>
    <div class="button-container">
      <mt-button type="primary" @click.native="goSubmit()">确 认</mt-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import md5 from 'js-md5'
export default {
  name: 'PasswordModify',
  components: {
  },
  data () {
    return {
      oldPassword: '',
      newPassword: '',
      confirmPassword: '',
      randomNum: ''
    }
  },
  created () {
    this.$store.commit('changeHeaderTitle', '修改支付密码')
  },
  methods: {
    ...mapActions(['getRandomNum']),
    goSubmit: async function () {
      let reg = /^\d{6}$/
      if (this.oldPassword === '' || this.newPassword === '') {
        this.$toast({message: '支付密码不能为空，请输入支付密码', position: 'center', duration: 2000})
      } else if (this.confirmPassword === '') {
        this.$toast({message: '确认支付密码不能为空，请输入确认支付密码', position: 'center', duration: 2000})
      } else if (reg.test(this.oldPassword) === false || reg.test(this.newPassword) === false) {
        this.$toast({message: '请输入6位数字', position: 'center', duration: 2000})
      } else if (this.newPassword !== this.confirmPassword) {
        this.$toast({message: '设置支付密码和确认支付密码不一致，请重新输入', position: 'center', duration: 2000})
      } else {
        try {
          let hash1 = await this.getRandomNum()
          let oldPassword = hash1.slice(0, 20) + md5(this.oldPassword) + hash1.slice(-20)
          let hash2 = await this.getRandomNum()
          let newPassword = hash2.slice(0, 20) + md5(this.newPassword) + hash2.slice(-20)
          this.$store.dispatch('updatePassword', {oldPassword: oldPassword, newPassword: newPassword})
            .then(res => {
              if (res.data.flag === '0') {
                this.$toast({message: '密码修改成功！', position: 'center', duration: 2000})
                this.$router.push({path: '/accountSetting'})
              } else {
                this.$toast({message: '密码修改失败~', position: 'center', duration: 2000})
              }
            })
            .catch(err => {
              this.$indicator.close()
              this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
            })
        } catch (err) {
          this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.button-container{
  padding: 0.95rem 0.75rem;
  button{
    width: 100%;
  }
}
.mint-field { font-size: .6rem;border-bottom: 1px solid #ddd;  }
</style>
