<template>
  <div class="verify-code">
    <mt-button :type="btnType" size="small" plain @click="sendCode" :disabled='isDisabled'>{{btnText}}</mt-button>
  </div>
</template>

<script>
export default {
  name: 'VerifyCode',
  props: ['accountType'],
  data () {
    return {
      btnType: 'primary',
      btnText: '发送验证码',
      isDisabled: false
    }
  },
  methods: {
    sendCode: function () {
      console.log(this.accountType)
      this.$store.dispatch('getVerifyCode', {type: this.accountType})
        .then(res => {
          this.countDown()
        })
        .catch(err => {
          this.$indicator.close()
          this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 5000})
        })
    },
    countDown: function () {
      if (this.isOvertime) {
        return false
      }
      let that = this
      let time = 60
      var sendTimer = setInterval(function () {
        that.isOvertime = true
        time--
        that.btnType = 'default'
        that.isDisabled = true
        that.btnText = '重新发送(' + time + ')'
        if (time < 0) {
          that.isOvertime = false
          clearInterval(sendTimer)
          that.btnType = 'primary'
          that.isDisabled = false
          that.btnText = '发送验证码'
        }
      }, 1000)
    }
  }
}
</script>

<style scoped>
.verify-code{ padding: .25rem }
</style>
