<template>
<div>
  <div class="errorBox">
    <img src="../../assets/icon_error.png" height="50px" width="50px" alt="">
    <p>系统繁忙，请稍后重试</p>
  </div>
</div>
</template>
<script>
// import { mapGetters } from 'vuex'

export default {
  name: 'errorPrompt',
  data () {
    return {
    }
  },
  // computed: mapGetters([
  //   'errorMsg'
  // ]),
  created () {
    this.$store.commit('changeHeaderTitle', '社保信息查询')
  },
  methods: {
  }
}
</script>

<style lang="scss">
.errorBox{ margin:10rem auto; text-align:center; color: $color-font7; font-size:.6rem }
.errorBox img{ margin-bottom:.5rem }
</style>
