<template>
<div class="homePage">
  <img :src="require('./../../assets/banner.png')" :style="{width: '100%', height: '7.1rem'}"/>
  <div class="row" v-for="(item, index) in menus" :key="index">
    <router-link v-if="item.pageLocal===1" :to="item.route" class="col-50">
      <div class="menu-cell">
        <img :src="require('./../../assets/' + item.img + '.png')"/>
        <div class="menu-title">
          {{item.header}}
          <!-- <p class="menu-info">{{item.info}}</p> -->
        </div>
      </div>
    </router-link>

    <a v-if="item.pageLocal===2" @click="getDySign(item.route)" class="col-50">
      <div class="menu-cell">
        <img :src="require('./../../assets/' + item.img + '.png')"/>
        <div class="menu-title">
          {{item.header}}
          <!-- <p class="menu-info">{{item.info}}</p> -->
        </div>
      </div>
    </a>
  </div>
</div>
</template>
<script>
import { mapMutations, mapGetters } from 'vuex'

const menus = [{
  header: '预约挂号',
  info: '当日挂号，预约挂号',
  pageLocal: 1,
  img: 'icon_gh',
  route: '/registerIndex'
},
{
  header: '处方缴费',
  info: '医保自费，一键支付',
  pageLocal: 1,
  img: 'icon_jf',
  route: '/payIndex'
},
{
  header: '参保信息',
  info: '当日挂号，预约挂号',
  pageLocal: 2,
  img: 'icon_gr',
  route: 'https://dyrsxxzx.cn/data/dongyang/canbaoxinxi.html'
},
{
  header: '缴费记录',
  info: '医保自费，一键支付',
  pageLocal: 2,
  img: 'icon_jfjl',
  route: 'https://dyrsxxzx.cn/data/dongyang/jiaofeijilu.html'
},
{
  header: '医保账户',
  info: '密码管理，支付关闭',
  pageLocal: 2,
  img: 'icon_zh',
  route: 'https://dyrsxxzx.cn/data/dongyang/yibaozhanghu.html'
},
{
  header: '账号设置',
  info: '密码管理，支付关闭',
  pageLocal: 1,
  img: 'icon_sz',
  route: '/accountSetting'
}]

export default {
  name: 'Index',
  data () {
    return {
      menus: menus
    }
  },
  created () {
    this.$store.commit('changeHeaderTitle', '东阳人社')
  },
  computed: {
    ...mapGetters([
      'nextUrl'
    ])
  },
  methods: {
    ...mapMutations([
      'changeHeaderTitle', 'setNextUrl'
    ]),
    getDySign: function (htmlUrl) {
      this.$indicator.open({text: '加载中...', spinnerType: 'snake'})
      this.$store.dispatch('getDySign', {})
        .then(res => {
          this.$indicator.close()
          location.href = htmlUrl + this.nextUrl
        })
        .catch(err => {
          this.$indicator.close()
          this.$toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 2000})
        })
    }

  }
}
</script>

<style lang="scss" scoped>
.menu-cell{
  display: flex;
  padding: 0.7rem 1.5rem;
  height: 1.9rem;
  background-color: #ffffff;
  // border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
  border-top: 1px solid $color-border;
  img{
    width: 1.9rem;
    height: 1.9rem;
    display: block;
  }
  .menu-title{
    line-height: 1.9rem;
    margin-left: 0.5rem;
    font-size: 0.7rem;
    color:#333333;
    display: block;
  }
}
.row{
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.col-50{
  display: block;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

</style>
