<template>
<div >

</div>
</template>
<script>
import { Toast } from 'mint-ui'
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'Index',
  data () {
    return {
    }
  },

  computed: mapGetters([
    'authParams', 'institutionInfo'
  ]),

  methods: {
    ...mapMutations([
      'changeHeaderTitle', 'changeUserInfo', 'changeInstitutionInfo'
    ]),

    queryOpenId () {
      this.MFS.Oauth.queryOpenId({
        'callback': 'queryOpenIdCallback',
        'params': {
          'clientId': this.institutionInfo.clientId
        }
      })
    },
    getRefreshToken (openId) {
      // 根据openId从第三方后台获取refreshToken
      this.$store.dispatch('getRefreshToken', {openId: openId}).then(data => {
        if (data.data.refreshToken) {
          // MessageBox('refreshToken参数', {
          //   'clientId': this.institutionInfo.clientId,
          //   'clientSign': data.data.clientSign,
          //   'refreshToken': data.data.refreshToken,
          //   'openId': openId,
          //   'scopeList': [{'scopeList': this.institutionInfo.scope_name}]
          // })
          this.MFS.Oauth.refreshAccessToken({
            'callback': 'refreshTokenCallback',
            'params': {
              'clientId': this.institutionInfo.clientId,
              'clientSign': data.data.clientSign,
              'refreshToken': data.data.refreshToken,
              'openId': openId,
              'scopeList': [{'scopeList': this.institutionInfo.scope_name}]
            }
          })
        } else {
          // 已过期，存在openId,不存在刷新令牌调出授权界面
          this.MFS.Oauth.authorize({
            'callback': 'oauthCallback',
            'params': {
              'clientId': this.institutionInfo.clientId,
              'redirectUri': this.institutionInfo.redirectUri,
              'state': this.institutionInfo.state,
              'scopeList': [{'scopeName': this.institutionInfo.scope_name}]
            }
          })
        }
      })
        .catch(err => {
          // vm.$indicator.close()
          Toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 5000})
        })
    }
  },

  created () {
    const vm = this
    this.$store.commit('changeHeaderTitle', '授权登陆')
    this.$store.commit('changeUserInfo', {clientId: this.institutionInfo.clientId})
    this.$indicator.open({text: '正在查询用户信息...', spinnerType: 'snake'})
    // 隐藏导航栏
    vm.MFS.hideNav()
    // 调用客户端queryOpenId方法获取openId
    vm.queryOpenId()
    // 此方法绑定到window下面，提供给外部调用
    window['queryOpenIdCallback'] = function (res) {
      const result = JSON.parse(res)
      // MessageBox('queryOpenIdCallback', result) // 需要删除
      if (result.rstCode === '1') {
        // Toast({message: 'openId为:' + result.openId, position: 'middle', duration: 2000}) // 需要删除
        if (result.openId) {
          vm.$store.commit('changeInstitutionInfo', {openId: result.openId})
          if (result.isExpired === '0') {
            // 取得openId,已授权且accessToken未过期跳转至相应页面
            vm.$indicator.close()
            vm.$router.push({path: '/protocol', query: {redirect: vm.$route.query.redirect}})
          } else {
            // 已过期且存在openId -> 是否存在刷新令牌 -> 调用请求刷新接口 -> 调用客户端refreshAccessToken方法 ->跳转至相应页面
            // 根据openId从第三方后台获取refreshToken
            vm.getRefreshToken(result.openId)
          }
        } else {
          // 调出授权界面
          // MessageBox('authorize参数', {
          //   'clientId': vm.institutionInfo.clientId,
          //   'redirectUri': vm.institutionInfo.redirectUri,
          //   'state': vm.institutionInfo.state,
          //   'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
          // })
          vm.MFS.Oauth.authorize({
            'callback': 'oauthCallback',
            'params': {
              'clientId': vm.institutionInfo.clientId,
              'redirectUri': vm.institutionInfo.redirectUri,
              'state': vm.institutionInfo.state,
              'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
            }
          })
        }
      } else if (result.rstCode === '900') {
        vm.queryOpenId()
        Toast({message: 'queryOpenId:result.rstCode' + result.rstCode, position: 'center', duration: 5000}) // 需要删除
      }
    }
    window['refreshTokenCallback'] = function (res) {
      // MessageBox('refreshTokenCallback', res) // 需要删除
      var result = JSON.parse(res)
      if (result.rstCode === '1') {
        vm.$store.commit('changeInstitutionInfo', {refreshToken: result.refreshToken, accessToken: result.accessToken})
        vm.$indicator.close()
        vm.$router.push({path: '/protocol', query: {redirect: vm.$route.query.redirect}})
      }
    }
    window['oauthCallback'] = function (res) {
      let result = JSON.parse(res)
      // MessageBox('oauthCallback', res) // 需要删除
      if (result.rstCode === '1') {
        if (result.state === vm.institutionInfo.state) {
          vm.$store.commit('changeInstitutionInfo', {accessToken: result.accessToken, expiresIn: result.expiresIn, refreshToken: result.refreshToken})
          // 获取到accessToken,调用客户端getOpenId方法获取openId ->得到签名
          // MessageBox('getOpenId参数', {
          //   'clientId': vm.institutionInfo.clientId,
          //   'accessToken': result.accessToken,
          //   'refreshToken': result.refreshToken,
          //   'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
          // })
          vm.MFS.Oauth.getOpenId({
            'callback': 'getOpenIdCallback',
            'params': {
              'clientId': vm.institutionInfo.clientId,
              'accessToken': result.accessToken,
              'refreshToken': result.refreshToken,
              'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
            }
          })
        }
      } else if (result.rstCode === '902') {
        // 用户取消了授权
        Toast({message: 'oauthCallback:result.rstCode' + result.rstCode, position: 'center', duration: 5000}) // 需要删除
        vm.MFS.webViewClose()
      }
    }
    window['getOpenIdCallback'] = function (res) {
      // MessageBox('getOpenIdCallback', res) // 需要删除
      let result = JSON.parse(res)
      if (result.rstCode === '1') {
        vm.$store.commit('changeInstitutionInfo', {openId: result.openId})
        vm.$indicator.close()
        vm.$router.push({path: '/protocol', query: {redirect: vm.$route.query.redirect}})
      } else {
        Toast({message: 'getOpenId:result.rstCode' + result.rstCode, position: 'center', duration: 5000}) // 需要删除
      }
    }
  }
}
</script>

<style lang="scss">
.mint-msgbox-content {
  // height: 22rem;
  overflow: auto;
  word-break: break-all;
}
.protocol{
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;

  p{
    font-size: 0.7rem;
    color:#666666;
    line-height: 1.05rem;
    text-align:left;
    margin: 0.25rem;
    text-indent: 1.4rem;
  }
}
.fix-container{
   width: 100%;
   padding: 0.8rem 0.45rem;
   box-shadow:0 -1px 4px 0 rgba(0,0,0,0.12);
   font-size:16px;
   position: absolute;
   bottom: 0;
   left: 0;
}
.button-agree{
  width: 10.5rem;
  background:#249dee;
  border-radius: 0.25rem;
  color:#ffffff;
  height: 2.25rem;
  line-height: 2.25rem;
}
.button-disagree{
  width: 6.25rem;
  margin-right: 0.5rem;
  border:1px solid #cccccc;
  border-radius: 0.25rem;
  height: 2.25rem;
  line-height: 2.25rem;
  background: #ffffff;
  color:#999999;
}
</style>
