<template>
<div class="protocol" v-if="showDiv">
  <div>
    重要提示：
    <p>东阳市人力资源和社会保障局（为便于理解，以下简称我局）依据本协议为用户（以下简称“您”）提供东阳市城镇职工基本医疗保险、东阳市城乡居民基本医疗保险待遇通过或“东阳人社”客户端或我局授权的东阳农商银行“丰收互联”客户端的移动支付服务（以下简称医保移动支付）。本协议对您和我局均具有法律约束力。</p>
    <p>在使用医保移动支付服务前，您应当阅读并遵守本协议以及将来公示的新增功能的单项协议或规则、操作时的提示（包括通过客户端软件）及业务规则。本局在此特别提醒您认真阅读并充分理解本协议各条款，特别是免除或限制我局的责任、限制您的权利、规定争议解决方式的相关条款。请您审慎阅读并选择是否接受本协议（未成年人应在监护人陪同下阅读）。除非您接受本协议的所有条款，否则您无权使用医保移动支付服务。您一经开通或使用医保移动支付服务，即视为您已理解并接受本协议。</p>
    <p>一、【本服务】</p>
    <p>1.1 医保移动支付，指我局依托“东阳人社”移动客户端或我局授权的东阳农商银行“丰收互联”客户端为我市参加城镇职工基本医疗保险、城乡居民基本医疗保险的参保人员就医时提供的医疗费用结算、医保个人账户资金的使用以及个人自负部分货币资金通过第三方支付系统的转移服务。（下称“本服务”）</p>
    <p>1.2 本服务包括医疗费用结算、医保个人账户资金的使用、个人自负部分货币资金通过第三方支付系统的转移支付等三种类型。</p>
    <p>1.2.1您确认并同意我局在您注册“东阳人社”账号或“丰收互联”账号（以下简称人社号）的同时，为您将您的人社号与您的社保账户相关联，使得您可以通过人社号使用本服务。</p>
    <p>1.2.2医疗费用结算，指您在定点医疗机构就医时产生的医疗费用按照《东阳市基本医疗保险实施办法》有关规定给予费用结算。</p>
    <p>1.2.3医保个人账户资金的使用，指您在定点医疗机构就医时产生的医疗费用按照《东阳市基本医疗保险实施办法》有关规定应由个人负担部分在医保个人账户资金中的支付情况。</p>
    <p>1.2.4个人自负部分货币资金通过第三方支付系统的转移支付，指您在定点医疗机构就医时产生的医疗费用按照《东阳市基本医疗保险实施办法》有关规定进行费用结算和医保个人账户资金使用后的剩余部分医疗费用通过微信、支付宝、东阳市农商银行丰收互联等第三方支付系统进行货币资金的转移支付。</p>
    <p>1.3 您理解并同意，本服务的上述流程，可能因适用场景和功能存续情况的变化而发生调整，所以具体以我局实际提供的服务流程为准。</p>
    <p>1.4 您理解并同意，我局有权根据业务运营的调整，单方修改或变更本协议的内容，并将通过东阳人民政府网站或“东阳人社”客户端公布最新的服务协议，我局将不另作个別通知。若您于本协议发生任何修改或变更后继续使用本服务，则视为您已阅读、了解并同意接受上述修改或变更，若您不同意上述修改或变更，应立即停用本服务。</p>
    <p>1.5您已知悉，“医保个人账户”所记录的资金余额不同于您本人的银行存款，不受《存款保险条例》保护。医保个人账户对应的货币资金虽然属于您，但不以您本人名义存放在银行，由我局按照相关规定进行转移和清算。</p>
    <p>二、【账户和信息安全】</p>
    <p>2.1 您应自行设置人社号的登录密码和移动支付密码（注：账户密码和支付密码是独立的），并予以妥善保管。您的人社号将与您的社保账户关联，不能单独使用，若您的人社号注销，则将取消人社号与您社保账户的关联，使得您无法通过该人社号使用本服务。您需根据本服务的功能需求提交您的姓名、身份证号、社会保障卡、银行卡信息等信息。您同意：</p>
    <p>2.1.1按照我局要求准确提供并在取得人社号后及时更新您正确、最新及完整的身份信息及相关资料。若我局有合理理由怀疑您提供的信息或相关资料错误、不实、过时或不完整的，我局有权暂停或终止向您提供部分或全部本服务。我局对此不承担任何责任，您将承担因此产生的任何直接或间接支出。</p>
    <p>2.1.2您应当准确提供并及时更新您提供的联系方式，以便我局与您进行及时、有效的联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。</p>
    <p>2.1.3您应及时更新您的身份信息及相关资料，因您未及时更新资料导致的一切后果，均应由您自行承担，该后果包括但不限于导致本服务无法提供或提供时发生任何错误、社保账户及医保个人账户内余额被别人盗用，且您不得将此作为取消交易、拒绝付款的理由。</p>
    <p>2.1.4您确认，我局认为您的身份信息或相关资料存在疑点，或交易行为、交易情况出现异常时有权要求核对您的有效身份证件或其他必要文件，且完成我局要求的相关身份认证。您应积极配合，否则我局有权限制或停止向您提供部分或全部本服务。</p>
    <p>2.1.5若因国家法律法规、部门规章的要求，我局需要您补充提供任何身份信息或相关资料时，如您不能及时提供，我局有权暂停或终止向您提供部分或全部本服务。</p>
    <p>2.2 您应妥善保管下列信息、资料和硬件设备：</p>
    <p>（1）人社号及其登录密码；</p>
    <p>（2）医保移动支付密码、手势密码；</p>
    <p>（3）手机等移动终端及SIM卡信息；</p>
    <p>（4）指纹信息、人脸信息、声纹信息等生物识别信息。</p>
    <p>您应妥善保管上述资料、信息和硬件设备，并确保您的手机等移动终端设备在安全、无病毒、未被入侵、未被监控、未被非法控制的环境下运行和使用。若您泄露了上述信息中的任意一项或遗失了上述硬件设备，由此导致的风险和损失应由您自行承担。</p>
    <p>三、【本服务的功能】</p>
    <p>3.1 预约挂号</p>
    <p>您可以使用本服务进行预约挂号功能，本服务将根据您的交易指令，调用相关医院预约挂号功能为您预约挂号。</p>
    <p>3.1.1 去挂号</p>
    <p>您可以使用本服务进行“去挂号”功能，通过点击“去挂号”，选择相应的医院，需挂号的科室、医生以及预约或者挂号时间，进行去挂号操作。</p>
    <p>3.1.2支付</p>
    <p>您正确选择相应的医院，需挂号的科室、医生以及预约或者挂号时间后您需要支付挂号的相关费用，本服务将根据您的指令从医保个人账户资金或者通过第三方支付系统收取您的挂号费用。</p>
    <p>3.1.3 查询</p>
    <p>您可在本服务中查询您预约挂号的历史记录。</p>
    <p>3.2就诊缴费</p>
    <p>您在医院完成就诊后，可以使用本服务进行本次就诊的医疗费用结算，本服务将根据您的交易指令，调用就诊医院的费用结算功能为您进行医疗费用结算。</p>
    <p>3.2.1 去缴费</p>
    <p>您可以使用本服务进行“去缴费”功能，通过点击“去缴费”功能，选择相应的就诊医院后会显示该医院下所有待支付结算信息，您可选择相应的待支付结算信息进行支付。</p>
    <p>3.2.2支付</p>
    <p>您正确选择相应的待支付结算信息进行支付，本服务将根据您的指令从医保个人账户资金或者通过第三方支付系统收取按规定您该支付的剩余部分医疗费用。</p>
    <p>3.2.3 查询</p>
    <p>您可在本服务中查询您的就诊缴费历史记录。</p>
    <p>四、【本服务的使用】</p>
    <p>4.1 您的人社号在登录状态下发出的操作指令均视为您本人发出的操作指令，操作指令一旦发出即立即生效、不可撤销，我局有权根据您发出的操作指令进行医疗费用结算和医保个人账户使用。您应妥善保管您的手机等电子设备、支付密码、短信校验码、数字证书、电子签名、以及用于移动支付的条码、二维码等信息和资料，因您泄露、遗失、复制、转交前述信息和资料而导致的损失，由您自行承担。</p>
    <p>4.2您使用本服务时，应当仔细确认交易及其金额后进行结算支付。</p>
    <p>4.3您对使用本服务过程中发出指令的合法性、真实性、完整性及有效性承担全部责任，我局依照您的指令进行操作的一切风险由您自行承担。您认可本服务的相关交易信息均以我局系统记录的为准。</p>
    <p>4.4您应按照我局的要求完善您的身份信息以最终达到实名认证，否则您可能会受到服务限制，直至您达到实名认证的标准</p>
    <p>4.5您同意本公司有权以电子邮件、短信、电话或传真等方式通知您关于使用本服务的信息。</p>
    <p>4.6您不得利用本服务实施下列任一行为：</p>
    <p>（1）反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一；</p>
    <p>（2）冒用他人名义使用本服务或电话号码与身份证号无法一一对应的；</p>
    <p>（3）侵害本服务系統；</p>
    <p>（4）违反法律法规、监管规定、本局或其关联单位（企业）网站的条款、协议、规则、通告等相关规定，而被上述任一主体终止提供服务；</p>
    <p>（5）从事其他违反国家法律、法规、规章及政策法令的行为，或其他违反本协议的行为。</p>
    <p>五、【责任范围及限制】</p>
    <p>本服务是在现有技术水平下提供的，我局将尽力为您提供服务，但无法保证该服务完全符合您的预期。</p>
    <p>六、【不可抗力及其他免责事由】</p>
    <p>6.1 在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服、不能避免且对一方或双方造成重大影响的客观事件，包括但不限于洪水、地震、瘟疫和风暴等自然灾害以及战争、动乱、政府行为等社会事件。出现上述情况时，我局将努力在第一时间与相关单位配合及时进行修复，但由此给您造成的损失我局在法律允许的范围内免责。</p>
    <p>6.2 在法律允许的范围内，我局对以下情形导致的服务中断或受阻不承担责任：</p>
    <p>（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
    <p>（2）您或我局的电脑软件、系统、硬件和通信线路出现故障；</p>
    <p>（3）您操作不当；</p>
    <p>（4）您通过非我局授权的方式使用本服务；</p>
    <p>（5）医院业务系统出现故障；</p>
    <p>（6）其他我局无法控制或合理预见的情形。</p>
    <p>七、【暂停、中断或终止服务】</p>
    <p>7.1 我局有权基于业务调整或风险管控的需要，暂停、中断或终止向您提供本服务。</p>
    <p>7.2 您理解，我局有权依据相关法律规定对您的医保移动支付进行风险管控。您同意，当我局基于单方判断，认为您有可疑交易或有违反法律规定或本协议约定之情形时，我局有权不经通知，先行暂停、中断或终止向您提供本服务。</p>
    <p>7.3 我局发现您违反本协议约定的，有权暂停、中断或终止向您提供本服务，注销您的人社账户，取消与您社保账户的关联，并在一段时间内不再向您提供任何服务。</p>
    <p>八、【隐私保护】</p>
    <p>我局重视对您隐私的保护，您的个人隐私信息依《中华人民共和国网络安全法》受到保护与规范。</p>
    <p>九、【知识产权保护】</p>
    <p>9.1 我局在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归我局及其关联部门所有，您在使用本服务中所产生内容的知识产权归您或相关权利人所有。</p>
    <p>9.2 除另有特别声明外，我局提供本服务时所依托软件的著作权、专利权及其他知识产权均归我局及其关联部门所有。</p>
    <p>9.3上述知识产权均受到法律保护，未经我局、您或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</p>
    <p>十、【法律适用及争端解决】</p>
    <p>10.1 本协议签订地为中华人民共和国浙江省东阳市。</p>
    <p>10.2 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
    <p>10.3 您和我局因本协议产生任何纠纷或争议的，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交至本协议签订地（浙江省东阳市）有管辖权的人民法院解决。</p>
    <p>十一、【其他条款】</p>
    <p>11.1 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
    <p>11.2 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
  </div>
  <div class="fix-container">
    <mt-button type="default" class="button-disagree" @click="disagreeProtocol()">不同意</mt-button>
    <mt-button class="button-agree" @click="clickAgreeProtocol()">同意</mt-button>
  </div>
</div>
</template>
<script>
import { Button, Toast } from 'mint-ui'
import { mapActions, mapGetters, mapMutations } from 'vuex'

export default {
  name: 'Protocol',
  components: { Button },
  data () {
    return {
      showDiv: false
    }
  },
  computed: mapGetters([
    'authParams', 'institutionInfo'
  ]),

  methods: {
    ...mapActions([
      'agreeProtocol', 'getSecurityInfo', 'agreeProtocol'
    ]),
    ...mapMutations([
      'changeHeaderTitle', 'changeInstitutionInfo'
    ]),
    // ...mapState({
    //   app: state => state.app // 绑定store.state.app到组件，之后可用this.app获取
    // }),

    clickAgreeProtocol () {
      this.agreeProtocol()
      const vm = this
      // Toast({message: '医保移动支付已成功开通', position: 'middle', duration: 5000})
      // setTimeout(() => {
      //   // 跳转到returnUrl
      //   vm.$router.push('/passwordSetting')
      // }, 5000)
      vm.$router.push('/passwordSetting')
    },

    disagreeProtocol () {
      // 点击不同意关闭webView
      this.MFS.goBack()
    }
  },

  mounted () {
    const vm = this
    vm.$store.commit('changeHeaderTitle', '社保信息查询')
    vm.$indicator.open({text: '正在努力为您查询社保信息...', spinnerType: 'snake'})
    // 获取用户信息
    const getSecurityInfo = () => {
      let params = {...vm.authParams, openId: vm.institutionInfo.openId, status: vm.authParams.accessToken && vm.authParams.refreshToken ? '0' : '1'}
      vm.$store.dispatch('getSecurityInfo', params).then(res => {
        vm.$indicator.close()
        if (res.data.userId) {
          if (res.data.authFlag === '1') {
            vm.$router.push(vm.$route.query.redirect ? vm.$route.query.redirect : '/homePage')
          } else if (res.data.authFlag === '2') {
            vm.$router.push('/passwordSetting')
          } else {
            vm.showDiv = true
            vm.$store.commit('changeHeaderTitle', '医保移动支付开通协议')
          }
        } else {
          // 未开通社保卡,停留五秒跳转回app
          Toast({message: '您还未开通社保卡 无法开通医保移动支付', position: 'middle', duration: 5000})
          setTimeout(() => {
            vm.MFS.goBack()
          }, 5000)
        }
      })
        .catch(err => {
          vm.$indicator.close()
          if (err.code === -1) {
            vm.$router.push('/errorPrompt')
          } else {
            Toast({message: err.msg ? err.msg : '服务器繁忙', position: 'center', duration: 5000}) // 需要删除
            if (err.data.userFlag === '0') {
              // 调出授权界面
              vm.MFS.Oauth.authorize({
                'callback': 'oauthCallback',
                'params': {
                  'clientId': vm.institutionInfo.clientId,
                  'redirectUri': vm.institutionInfo.redirectUri,
                  'state': vm.institutionInfo.state,
                  'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
                }
              })
            }
          }
        })
    }
    getSecurityInfo()

    window['oauthCallback'] = function (res) {
      // MessageBox('oauthCallback', res)
      let result = JSON.parse(res)
      if (result.rstCode === '1') {
        // Toast({message: 'queryOpenId:result.rstCode' + result.state, position: 'center', duration: 5000}) // 需要删除
        if (result.state === vm.institutionInfo.state) {
          vm.$store.commit('changeInstitutionInfo', {accessToken: result.accessToken, expiresIn: result.expiresIn, refreshToken: result.refreshToken})
          // 获取到accessToken,调用客户端getOpenId方法获取openId ->得到签名
          // MessageBox('getOpenId参数', {
          //   'clientId': vm.institutionInfo.clientId,
          //   'accessToken': result.accessToken,
          //   'refreshToken': result.refreshToken,
          //   'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
          // })
          vm.MFS.Oauth.getOpenId({
            'callback': 'getOpenIdCallback',
            'params': {
              'clientId': vm.institutionInfo.clientId,
              'accessToken': result.accessToken,
              'refreshToken': result.refreshToken,
              'scopeList': [{'scopeName': vm.institutionInfo.scope_name}]
            }
          })
        }
      } else if (result.rstCode === '902') {
        // 用户取消了授权
        Toast({message: 'oauthCallback:result.rstCode' + result.rstCode, position: 'center', duration: 5000}) // 需要删除
        vm.MFS.webViewClose()
      }
    }
    window['getOpenIdCallback'] = function (res) {
      // MessageBox('getOpenIdCallback', res) // 需要删除
      let result = JSON.parse(res)
      if (result.rstCode === '1') {
        vm.$store.commit('changeInstitutionInfo', {openId: result.openId})
        vm.$indicator.close()
        getSecurityInfo()
      } else {
        Toast({message: 'getOpenId:result.rstCode' + result.rstCode, position: 'center', duration: 5000}) // 需要删除
      }
    }
  }
}
</script>

<style scoped>
.protocol{
  background-color: #ffffff;
  padding: 0.5rem 0.75rem 4.4rem;

  p{
    font-size: 0.7rem;
    color:#666666;
    line-height: 1.05rem;
    text-align:left;
    margin: 0.25rem;
    text-indent: 1.4rem;
  }
}
.fix-container{
   width: 100%;
   padding: 0.8rem 0.45rem;
   box-shadow:0 -1px 4px 0 rgba(0,0,0,0.12);
   font-size: 0.8rem;
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #ffffff;
}
.button-agree{
  width: 10.5rem;
  background:#249dee;
  border-radius:5px;
  color:#ffffff;
  height: 2.25rem;
  line-height: 2.25rem;
}
.button-disagree{
  width: 6.25rem;
  margin-right: 0.5rem;
  border:1px solid #cccccc;
  border-radius:5px;
  height: 2.25rem;
  line-height: 2.25rem;
  background: #ffffff;
  color:#999999;
}
</style>
